@media only screen and (min-width: 1300px) {
  .title {
    font-size: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1290px !important;
  }

  .title {
    font-size: 100px;
  }
}

@media only screen and (max-width: 768px) {
  .g4 {
    right: calc(10% - var(--circle-size) / 2);
  }

  .menu {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    pointer-events: auto;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.25s ease;
    z-index: 50;
    overflow-y: scroll;
  }

  .menu.active {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  .menu li {
    -webkit-transform: translate(130vw, -15vh);
    transform: translate(130vw, -15vh);
    -ms-transform: translate(130vw, -15vh);
  }

  .menu.active li {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  .menu.active li:nth-child(1) {
    -webkit-transition: -webkit-transform 1s 0.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
    transition: -webkit-transform 1s 0.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
    transition: transform 1s 0.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
    transition: transform 1s 0.08s cubic-bezier(0.29, 1.4, 0.44, 0.96),
      -webkit-transform 1s 0.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  }

  .menu.active li:nth-child(2) {
    -webkit-transition: -webkit-transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
    transition: -webkit-transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
    transition: transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
    transition: transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96),
      -webkit-transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  }

  .menu.active li:nth-child(3) {
    -webkit-transition: -webkit-transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
    transition: -webkit-transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
    transition: transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
    transition: transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96),
      -webkit-transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  }

  .menu.active li:nth-child(4) {
    -webkit-transition: -webkit-transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
    transition: -webkit-transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
    transition: transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
    transition: transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96),
      -webkit-transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  }

  .menu.active li:nth-child(5) {
    -webkit-transition: -webkit-transform 1s 0.40s cubic-bezier(0.29, 1.4, 0.44, 0.96);
    transition: -webkit-transform 1s 0.40s cubic-bezier(0.29, 1.4, 0.44, 0.96);
    transition: transform 1s 0.40s cubic-bezier(0.29, 1.4, 0.44, 0.96);
    transition: transform 1s 0.40s cubic-bezier(0.29, 1.4, 0.44, 0.96),
      -webkit-transform 1s 0.40s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  }
}
